@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

:root {
  /* ### Primary */

  --BrightBlue: hsl(220, 98%, 61%);
  --CheckBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

  /* ### Neutral */

  /* ### Light Theme */

  --VeryLightGray: hsl(0, 0%, 98%);
  --VeryLightGrayishBlue: hsl(236, 33%, 92%);
  --LightGrayishBlue: hsl(233, 11%, 84%);
  --DarkGrayishBlue: hsl(236, 9%, 61%);
  --VeryDarkGrayishBlue: hsl(235, 19%, 35%);

  /* ### Dark Theme */

  --VeryDarkBlue: hsl(235, 21%, 11%);
  --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --LightGrayishBlueDT: hsl(234, 39%, 85%);
  /* (hover) */
  --LightGrayishBlueDTH: hsl(236, 33%, 92%);
  --DarkGrayishBlueDt: hsl(234, 11%, 52%);
  --VeryDarkGrayishBlueDt: hsl(233, 14%, 35%);
  --VeryDarkGrayishBlueDtb: hsl(237, 14%, 26%);
}

.main_container{
  height: 100svh;
}
.main_container.light{
  background-color: var(--VeryLightGrayishBlue);
}
.main_container.dark{
  background-color: var(--VeryDarkBlue);
}
.head_container{
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 200px;
  padding: 2.5rem 2rem;
}
.head_container.light{
  background-image: url(../public/images/bg-mobile-light.jpg);
}
.head_container.dark{
  background-image: url(../public/images/bg-mobile-dark.jpg);
}

.nav_container{
  display: flex;
  justify-content: space-between;
  max-width: 650px;
}
.nav_container h1{
  color:var(--VeryLightGray);
  letter-spacing: 0.6rem;
  font-weight: 700;
  font-size: 1.5rem;
}
.nav_container img{
  cursor: pointer;
}

input{
  font-size: 0.8rem;
  border: none;
  width: 100%;
  margin: 3rem 0;
  padding: 1rem 1rem 1rem 2.3rem;
  border-radius: 5px;
  max-width: 650px;
}
input:focus{
  outline: none;
}
input.light{
  color: var(--VeryDarkGrayishBlue);
}
input.dark{
  color: var(--VeryLightGrayishBlue);
  background-color: var(--VeryDarkGrayishBlueDtb);
}

.list-container{
  max-width: 650px;
  margin: 0 2rem;
  border-radius: 5px;
}
.list-container.light{
  background-color: var(--VeryLightGray);
  color: var(--VeryDarkGrayishBlue);
  box-shadow: 0 0 15px var(--DarkGrayishBlue);
}
.list-container.dark{
  background-color: var(--VeryDarkGrayishBlueDtb);
  color: var(--VeryDarkGrayishBlue);
  box-shadow: 0 0 15px var(--VeryDarkGrayishBlueDtb);
}
ul{
  list-style: none;
}
ul li{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  padding: 1rem 1rem 1rem 2.3rem;
 
}
ul li img{
  cursor: pointer;
}
ul li.light{
  border-bottom: 1px solid var(--LightGrayishBlue);
}
ul li.dark{
  border-bottom: 1px solid var(--VeryDarkGrayishBlue);
  color: var(--LightGrayishBlueDTH);
}
.circle_item{
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: none;
  cursor: pointer;
  transform: translateX(-130%);
}
.circle_item.light{
  border: 1px solid var(--LightGrayishBlue);
}
.circle_item.dark{
  border: 1px solid var(--VeryDarkGrayishBlue);
}
.status_container{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.status_container span{
  color: var(--DarkGrayishBlue);
  font-size: 0.8rem;
  cursor: pointer;
}
.btn-container{
  border-radius: 5px;
  margin: 2rem 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  max-width: 650px;
}
.btn-container.light{
  background-color: var(--VeryLightGray);
}
.btn-container.dark{
  background-color: var(--VeryDarkGrayishBlueDtb);
}
.btn-container span{
  font-size: 0.8rem;
  cursor: pointer;
  color: var(--DarkGrayishBlueDt);
  font-weight: 700;
}
footer p{
  text-align: center;
  font-size: 0.8rem;
  color: var(--DarkGrayishBlue);
  margin-bottom: 2rem;
}

@media (min-width: 730px) {
  /* … */
  input{
    font-size: 1rem;
  }
  .head_container{
    min-height: 300px;
    text-align: center;
  }
  .head_container.light{
    background-image: url(../public/images/bg-desktop-light.jpg);
  }
  .head_container.dark{
    background-image: url(../public/images/bg-desktop-dark.jpg);
  }
   .nav_container{
    margin: 0 auto;
  }
  ul li{
    font-size: 1rem;
  }
  .circle{
    left: 0;
  }
  .status_container span{
    font-size: 1rem;
  }
  .list-container{
    margin: 0 auto;
  }
  .btn-container{
    margin: 2rem auto;
  }
  .btn-container span{
    font-size: 1rem;
  }
  footer p{
    font-size: 1rem;
  }

}
